@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  	margin: 0;
  	font-family: "Quicksand";
  	color: #333;
}
.navbar {
  	padding: 20px;
  	display: flex;
  	align-items: center;
  	max-width: 80%;
  	margin: 0 auto;
  	border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  	color: #f1356d;
	display: none;
}
.navbar .links {
  	margin-left: auto;
}
.navbar a {
 	margin-left: 16px;
  	text-decoration: none;
  	padding: 6px;
}
.navbar a:hover {
  	color: #f1356d;
}

.navbar .logo-container {
	width: 80px;
}

.navbar .logo-container img {
	object-fit: contain;
}

.navbar .logo-container:hover {
	cursor: pointer;
}

.content {
	max-width: 80%;
	margin: 10px auto;
	padding: 20px;
}

/* list previews */
.artwork-list {
 	padding: 10px 16px;
	margin: 20px 0;
 	border-bottom: 1px solid #fafafa;
	display: flex;
	height: 200px;
}

.artwork-list:hover {
	cursor: pointer;
}

.list-img-container {
	width: 200px;
	height: 100%;
}

.list-img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.artwork-list:hover {
  	box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.artwork-list h2 {
  	font-size: 20px;
  	color: #f1356d;
  	margin-bottom: 20px;
}

.list-brief-container {
	justify-content: center;
	margin-left: 40px;
	text-align: left;
	display: flex;
	flex-direction: column;
	max-width: 70%;
} 

.list-search-bar input{
	width: 40%;
	margin: 10px auto;
	border-radius: 3px;
	height: 20px;
}

.list-sort-selector select{
	width: 10%;
}

.list-sort-selector select:hover {
	cursor: pointer;
}

.list-sort-asc-desc {
	display: flex;
	flex-direction: row;
	margin: 10px 0;
}
.list-sort-asc {
	margin-right: 20px;
}

.list-sort-asc label {
	margin-right: 5px;
}

.list-sort-asc input {
	width: 20px;
}

.list-sort-asc input:hover {
	cursor: pointer;
}

.list-sort-desc input {
	width: 20px;
}

.list-sort-desc input:hover {
	cursor: pointer;
}

.list-sort-desc label {
	margin-right: 5px;
}

.list-sort-container button {
	border-radius: 5px;
	width: 10%;
}

.list-sort-container button:hover {
	cursor: pointer;
}

/* gallery card previews */
.gallery-card-container {
	margin: 1.5rem auto;
	display: grid;
	grid-template-columns: repeat(4, minmax(200px, 1fr));
	grid-gap: 1rem;
}

.gallery-card{
  	color: white;
  	position: relative;
  	padding: 1.5px;
	height: 250px;
}

.gallery-card:hover {
  	box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
	cursor: pointer;
}

.gallery-card img{
  	border: none;
  	width: 100%;
  	height: 100%;
  	transition: 0.5s;
	object-fit: fill;
}

.gallery-card:hover img{
    transform: scale(1.1);
}

.page-select {
	display: flex;
	flex-direction: row;
	width: 20%;
	margin: 0 auto;
}

.page-select label {
	display: block;
	margin-right: 5%;
}

.page-select select {
	border: 1px solid #ddd;
	box-sizing: border-box;
  	display: block;
}

/* Artwork Detail View */
.artwork-detail-container {
	width: 95%;
	margin: 0 auto;
	border-radius: 10px;
	background-color: #ddd;
	display: flex;
	flex-direction: column;
}

.artwork-detail-img {
	margin: 30px auto 10px;
	width: 80%;
}

.artwork-detail-img img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.artwork-detail-info-container {
	width: 90%;
	margin: 0 auto;
	padding: 10px;
}

.artwork-detail-info-container h2 {
	text-align: center;
	font-size: 25px;
	margin: 10px auto;
}

.artwork-detail-shortlist {
	font-size: 15px;
	text-align: left;
	display: grid;
	grid-template-columns: repeat(3, minmax(200px, 1fr));
	grid-gap: 2rem;
	margin: 2rem auto;
}


.artwork-detail-longlist {
	margin: 2rem auto;
}

.gallery-sort-select select:hover{
	cursor: pointer;
}

.page-select select:hover {
	cursor: pointer;
}

/* Artwork detail page */
.artwork-detail-buttons button:hover {
	cursor: pointer;
}